@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Inter:wght@600;800&family=Roboto+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #09090A;
    color: white;
    height: 100vh;

}

body *{
    /* border: 1px solid red; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    width: 100%;
    position: fixed;
}

button{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    background-color: transparent;
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

#form-habits{
    display: flex;
    width: fit-content;
    padding: 180px 48px 48px 48px;
}

.habits{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 24px;
}

.habit{
    width: 40px;
    height: 64px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days{
    display: flex;
    text-align: center;
    margin-left: 32px;
    gap: 48px;
}

.day{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div{
    font-family: 'Roboto Mono', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    margin-bottom: 8px;
    color: #A1A1AA;
}


input{
    appearance: none;
    -webkit-appearance: none;
    width: 64px;
    height: 64px;
    background-color: #18181B;
    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked{
    background-color: #8B5CF6;
    border: 2px solid #A78BFA;

}

@media (max-width: 570px){
    button div{
        display: none;
    }
}